<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To dicetray!</h1>
            <p>dic up ya trays</p>
            <p>
                <a class="btn btn-primary btn-large" href="/characters/new">Add new character</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% characters.forEach(function(characters){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h1>this is ya character ya doof</h1>
                    <h4><%= characters.strength %></h4>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
