<% include partials/header %>
<div class="container" id="container">
    <div class="row">
    <div class="col-4"><h3>Roll Some Dice</h3>
        <div id="dice-container">
        <div class="die" id="d20">
        <button type="button" class="btn btn-primary decrement">-</button>
        <input class="form-control num-rolls" type="text" placeholder="1">
        <button type="button" class="btn btn-primary increment">+</button>


            <span>d20</span>
            <button type="button" class="btn btn-roll-dice" style="float: right;">Roll</button>
        </div>

        <div class="die" id="d12">
            <button type="button" class="btn btn-primary decrement">-</button>
            <input class="form-control num-rolls" type="text" placeholder="1">
            <button type="button" class="btn btn-primary increment">+</button>
            <span>d12</span>
            <button type="button" class="btn btn-roll-dice" style="float: right;">Roll</button>
        </div>

        <div class="die" id="d10">
            <button type="button" class="btn btn-primary decrement">-</button>
            <input class="form-control num-rolls" type="text" placeholder="1">
            <button type="button" class="btn btn-primary increment">+</button>
            <span>d10</span>
            <button type="button" class="btn btn-roll-dice" style="float: right;">Roll</button>
        </div>

        <div class="die" id="d8">
            <button type="button" class="btn btn-primary decrement">-</button>
            <input class="form-control num-rolls" type="text" placeholder="1">
            <button type="button" class="btn btn-primary increment">+</button>
            <span>d8</span>
            <button type="button" class="btn btn-roll-dice" style="float: right;">Roll</button>
        </div>

        <div class="die" id="d6">
            <button type="button" class="btn btn-primary decrement">-</button>
            <input class="form-control num-rolls" type="text" placeholder="1">
            <button type="button" class="btn btn-primary increment">+</button>
            <span>d6</span>
            <button type="button" class="btn btn-roll-dice" style="float: right;">Roll</button>
        </div>

        <div class="die" id="d4">
            <button type="button" class="btn btn-primary decrement">-</button>
            <input class="form-control num-rolls" type="text" placeholder="1">
            <button type="button" class="btn btn-primary increment">+</button>
            <span>d4</span>
            <button type="button" class="btn btn-roll-dice" style="float: right;">Roll</button>
        </div>
        </div>
    <!--Players-->
        <div id="players"><button type="button" class="btn" id="players__new-btn" style="float: right;">New</button></div>
    </div>
        <div class="col-2"></div>
    <div class="col-6"><h3>Roll History <button type="button" class="btn" id="history__clear-btn">Clear</button></h3>
        <textarea readonly class="form-control" id="roll-history" rows="18"></textarea>
    </div>

    </div>
<% include partials/footer %>