<% include partials/header %>

<div id="container-landing">
    <h1>Dicetray</h1>
    <a href="/characters">View All Mans</a>
    <a href="/dice">Roll Some Dice</a>
</div>

<% include partials/footer %>