<% include partials/header %>

<div id="container">
    <h1>Dicetray</h1>
    <div class="row justify-content-md-center">
        <div class="col-1"></div>
    <div id="start-screen__characters" class="col-4">
        <a href="/characters">View All Mans</a>
    </div>
    <div id="start-screen__dice" class="col-4">
        <a href="/dice">Roll Some Dice</a>
    </div>
        <div class="col-1"></div>
    </div>

</div>

<% include partials/footer %>