#nav-bar-dd {
    background-color: #E5E5DA;
}

#container {
    margin: 20px auto;
    text-align: center;
}

#dice-container {
    margin-top: 20px;
}

p {
    color: blue;
    /*border: 2px solid red;*/
}

h3 {
    text-align: center;
}

.die {
    padding: 5px 50px;
}
.num-rolls {
    display: inline-block;
    width: 45px;
}

.increment, .decrement {
    background-color: #E5E5DA;
    border: none;
    color: black;
    outline: none;
}

#dice-container .increment:hover, .decrement:hover {
    background-color: #d1d1b5;
}

#dice-container .increment:focus, .decrement:focus {
    outline: 0;
    box-shadow: none;
}

#dice-container .increment:active, .decrement:active {
    outline: none;
    background-color: #d1d1b5;
}

.btn-roll-dice {
    background-color: #BC3B36;
    color: white;
}

input {
    text-align: center;
}

#roll-history {
    background-color: white;
}